{% extends 'base.html.twig' %}

{% block title %}TP OAuth - Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="pb-3">
            <h2><strong>Inscription</strong></h2>
            <hr>
        </div>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Conditions d\'utilisation'
            }) }}

            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Inscription</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
