{% extends 'base.html.twig' %}

{% block title %}TP OAuth - Mes informations{% endblock %}

{% block body %}
<div class="container">
    <div class="pb-5">
        <h2><strong>Mes informations</strong></h2>
    </div>
    <div class="content">
        <div class="pb-4">
            <h4>
                <i class="fa-solid fa-chevron-right"></i>&nbsp;
                Général
            </h4>
        </div>
        <div class="pb-4">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ app.user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ app.user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Avatar</th>
                        <td>
                            <a href="{{ app.user.avatar }}">{{ app.user.avatar }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pb-4">
            <h4>
                <i class="fa-solid fa-chevron-right"></i>&nbsp;
                Authentification
            </h4>
        </div>
        <div class="pb-4">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Client</th>
                        <td>{{ auth_type }}</td>
                    </tr>
                    <tr>
                        <th>Token</th>
                        <td>{{ token }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
